.download-link {
    display: block;
    padding: 20px;
    text-align: center;
    color: white;
    text-decoration: none;
}

.download-wapper {
    margin: 0 8px;
}

.download-item {
    border: solid 1px #580e9d;
    border-radius: 6px;
    background-color: #580ba1;
    overflow: hidden;
}

.download-link-extra {
    padding: 6px 6px;
    background: #0e1012;
    border-radius: 6px;
    color: white;
    font-size: smaller;
    margin-top: 3px;
    text-align: center;
}

.download-tip {
    text-align: center;
    font-weight: bold;
    padding: 10px 4px;
    background-color: #12051f;
    color: #f3f3f3;
    box-shadow: 0px -1px 8px 0px #150625;
}

.download-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.download-link-version {
    font-size: small;
    margin-top: 6px;
    color: #ffffffcc;
}

.gitee-link {
    border: 1px dashed;
    padding: 8px;
    line-height: 1.6;
    text-decoration: none;
    display: flex;
    margin: 4px;
}

fieldset {
    border: none;
    border-radius: 6px;
    margin-bottom: 1em;
    background: #0e1012;
}

fieldset>legend {
    padding: 8px 16px;
    background: #0e1012;
    border-radius: 4px;
    color: white;
    margin-left: -0.75em;
}

code {
    color: #dbdbdb;
    font-family: courier, monospace;
}

.info {

    background: #c7c7c7;
    padding: 8px;
    border-radius: 4px;
    border-left-width: 10px;
    border-left-color: #580ba1;
    border-left-style: solid;

}

.info>code {
    background: #580ba1;
    padding: 1px 8px;
    border-radius: 4px;
}

header {
    position: relative;
}

header>a {
    text-decoration: none;
    color: grey;
    position: absolute;
}

header>h3 {
    text-align: center;
}

.dl-link-box {
    margin-bottom: 15px;
    outline: 1px solid #580e9dbd;
    border-radius: 2px;
}

.dl-link-item {
    display: flex;
    justify-content: space-between;
    background-color: #580e9d2e;
    color: #580e9d;
    text-decoration: none;
    align-items: center;
    padding: 12px 20px;
}

.dl-link-tip {
    padding: 0 14px;
    color: #575757;
    display: flex;
}

.dl-link-box .dl-button {
    color: rgb(255 255 255);
    background-color: #580e9d;
    border-radius: 4px;
    padding: 4px 16px;
}