@font-face {
  font-family: "zimuicon"; /* Project id 4193331 */
  src: url('iconfont.woff2?t=1692260923283') format('woff2'),
       url('iconfont.woff?t=1692260923283') format('woff'),
       url('iconfont.ttf?t=1692260923283') format('truetype');
}

.zimuicon {
  font-family: "zimuicon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zimuicon-github:before {
  content: "\e645";
}

.zimuicon-gitlab:before {
  content: "\e65c";
}

.zimuicon-gitee:before {
  content: "\e60c";
}

.zimuicon-xin:before {
  content: "\e602";
}

.zimuicon-changci:before {
  content: "\e601";
}

